southridgeETL/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "southridgeETL"
		},
		"VanderSQL_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'VanderSQL'"
		},
		"linkedsvc_cosmosdb_movies_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'linkedsvc_cosmosdb_movies'"
		},
		"southridge_linked_svc_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'southridge_linked_svc'"
		},
		"southridge_streaming_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'southridge_streaming'"
		},
		"ADLS_Customerdetails_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": ""
		},
		"ADLS_Customerdetails_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "southbridgeraw/customer details"
		},
		"ADLS_southridge_orders_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": ""
		},
		"ADLS_southridge_orders_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "southbridgeraw/orders"
		},
		"Movies_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "movies.json"
		},
		"Movies_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "southbridgeraw/movies"
		},
		"adls_address_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": ""
		},
		"adls_address_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "southbridgeraw/Addresses"
		},
		"adls_orderdetails_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": ""
		},
		"adls_orderdetails_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "southbridgeraw/order details"
		},
		"adls_str_address_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": ""
		},
		"adls_str_address_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "southbridgeraw/stream addresses"
		},
		"adls_str_customers_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": ""
		},
		"adls_str_customers_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "southbridgeraw/stream customers"
		},
		"adls_str_transactions_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": ""
		},
		"adls_str_transactions_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "southbridgeraw/stream transactions"
		},
		"adls_vander_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@dataset().DWTableName"
		},
		"adls_vander_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "southbridgeraw/raw/vander"
		},
		"linkedsvc_datalake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlg2team4southridge.dfs.core.windows.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyMovies')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy movie catalog from CosmosDB to ADLS",
				"activities": [
					{
						"name": "Copy movie catalog",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DocumentDbCollectionSource",
								"nestingSeparator": "."
							},
							"sink": {
								"type": "AzureBlobFSSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "MoviesCatalog",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Movies",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MoviesCatalog')]",
				"[concat(variables('factoryId'), '/datasets/Movies')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Vander_GetTableListAndTriggerCopyData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupTableList",
						"description": "Retrieve the table list from Azure SQL database",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "SELECT TABLE_SCHEMA, TABLE_NAME FROM information_schema.TABLES WHERE TABLE_TYPE = 'BASE TABLE' and TABLE_SCHEMA = 'SalesLT' and TABLE_NAME <> 'ProductModel'",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "VanderSQL",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "TriggerCopy",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LookupTableList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Vander_IterateAndCopySQLTables",
								"type": "PipelineReference"
							},
							"parameters": {
								"tableList": {
									"value": "@activity('LookupTableList').output.value",
									"type": "Expression"
								}
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/VanderSQL')]",
				"[concat(variables('factoryId'), '/pipelines/Vander_IterateAndCopySQLTables')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Vander_IterateAndCopySQLTables')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IterateSQLTables",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.tableList",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "CopyDataVander",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlSource",
											"sqlReaderQuery": {
												"value": "SELECT * FROM [@{item().TABLE_SCHEMA}].[@{item().TABLE_NAME}]",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "AzureBlobFSSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "VanderSQL",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "adls_vander",
											"type": "DatasetReference",
											"parameters": {
												"DWTableName": {
													"value": "[concat('[', '@{item().TABLE_SCHEMA}].[@{item().TABLE_NAME}]')]",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"tableList": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/VanderSQL')]",
				"[concat(variables('factoryId'), '/datasets/adls_vander')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipe-southridge-nonpii')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copydata_orders",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "AzureBlobFSSink",
								"copyBehavior": "PreserveHierarchy"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "southridge_cs_orders",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ADLS_southridge_orders",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copydata_orderdetails",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "AzureBlobFSSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "southridge_orderdetails",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "adls_orderdetails",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/southridge_cs_orders')]",
				"[concat(variables('factoryId'), '/datasets/ADLS_southridge_orders')]",
				"[concat(variables('factoryId'), '/datasets/southridge_orderdetails')]",
				"[concat(variables('factoryId'), '/datasets/adls_orderdetails')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqlpipeline-piicopy')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copydatacustomerdetails",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "AzureBlobFSSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "southridge_customers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ADLS_Customerdetails",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copydata_address",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "AzureBlobFSSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "southridge_address",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "adls_address",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/southridge_customers')]",
				"[concat(variables('factoryId'), '/datasets/ADLS_Customerdetails')]",
				"[concat(variables('factoryId'), '/datasets/southridge_address')]",
				"[concat(variables('factoryId'), '/datasets/adls_address')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/streaming-pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_str_address",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "AzureBlobFSSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "streaming_address",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "adls_str_address",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_str_customer",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "AzureBlobFSSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "streaming_customers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "adls_str_customers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_str_transaction",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource"
							},
							"sink": {
								"type": "AzureBlobFSSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "streaming_transaction",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "adls_str_transactions",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/streaming_address')]",
				"[concat(variables('factoryId'), '/datasets/adls_str_address')]",
				"[concat(variables('factoryId'), '/datasets/streaming_customers')]",
				"[concat(variables('factoryId'), '/datasets/adls_str_customers')]",
				"[concat(variables('factoryId'), '/datasets/streaming_transaction')]",
				"[concat(variables('factoryId'), '/datasets/adls_str_transactions')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_Customerdetails')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedsvc_datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlobFSFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "[parameters('ADLS_Customerdetails_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('ADLS_Customerdetails_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedsvc_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLS_southridge_orders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedsvc_datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlobFSFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "[parameters('ADLS_southridge_orders_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('ADLS_southridge_orders_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedsvc_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Movies')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedsvc_datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlobFSFile",
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "setOfObjects"
					},
					"fileName": "[parameters('Movies_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('Movies_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedsvc_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MoviesCatalog')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedsvc_cosmosdb_movies",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DocumentDbCollection",
				"typeProperties": {
					"collectionName": "movies"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedsvc_cosmosdb_movies')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VanderSQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "VanderSQL",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[Actors]')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/VanderSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls_address')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedsvc_datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlobFSFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "[parameters('adls_address_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('adls_address_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedsvc_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls_orderdetails')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedsvc_datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlobFSFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "[parameters('adls_orderdetails_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('adls_orderdetails_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedsvc_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls_str_address')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedsvc_datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlobFSFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "[parameters('adls_str_address_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('adls_str_address_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedsvc_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls_str_customers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedsvc_datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlobFSFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "[parameters('adls_str_customers_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('adls_str_customers_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedsvc_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls_str_transactions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedsvc_datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlobFSFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "[parameters('adls_str_transactions_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('adls_str_transactions_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedsvc_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls_vander')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "linkedsvc_datalake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"DWTableName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureBlobFSFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0
					},
					"fileName": {
						"value": "[parameters('adls_vander_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": "[parameters('adls_vander_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/linkedsvc_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/southridge_address')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "southridge_linked_svc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "AddressID",
						"type": "Guid"
					},
					{
						"name": "CustomerID",
						"type": "Guid"
					},
					{
						"name": "AddressLine1",
						"type": "String"
					},
					{
						"name": "AddressLine2",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "ZipCode",
						"type": "String"
					},
					{
						"name": "CreatedDate",
						"type": "Date"
					},
					{
						"name": "UpdatedDate",
						"type": "Date"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[Addresses]')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/southridge_linked_svc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/southridge_cs_orders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "southridge_linked_svc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "OrderID",
						"type": "Guid"
					},
					{
						"name": "CustomerID",
						"type": "Guid"
					},
					{
						"name": "OrderDate",
						"type": "Date"
					},
					{
						"name": "ShipDate",
						"type": "Date"
					},
					{
						"name": "TotalCost",
						"type": "Decimal"
					},
					{
						"name": "CreatedDate",
						"type": "Date"
					},
					{
						"name": "UpdatedDate",
						"type": "Date"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[Orders]')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/southridge_linked_svc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/southridge_customers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "southridge_linked_svc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "CustomerID",
						"type": "Guid"
					},
					{
						"name": "LastName",
						"type": "String"
					},
					{
						"name": "FirstName",
						"type": "String"
					},
					{
						"name": "PhoneNumber",
						"type": "String"
					},
					{
						"name": "CreatedDate",
						"type": "Date"
					},
					{
						"name": "UpdatedDate",
						"type": "Date"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[Customers]')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/southridge_linked_svc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/southridge_orderdetails')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "southridge_linked_svc",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "OrderDetailID",
						"type": "Guid"
					},
					{
						"name": "OrderID",
						"type": "Guid"
					},
					{
						"name": "MovieID",
						"type": "Guid"
					},
					{
						"name": "Quantity",
						"type": "Byte"
					},
					{
						"name": "UnitCost",
						"type": "Decimal"
					},
					{
						"name": "LineNumber",
						"type": "Byte"
					},
					{
						"name": "CreatedDate",
						"type": "Date"
					},
					{
						"name": "UpdatedDate",
						"type": "Date"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[OrderDetails]')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/southridge_linked_svc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/streaming_address')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "southridge_streaming",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "AddressID",
						"type": "Guid"
					},
					{
						"name": "CustomerID",
						"type": "Guid"
					},
					{
						"name": "AddressLine1",
						"type": "String"
					},
					{
						"name": "AddressLine2",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "ZipCode",
						"type": "String"
					},
					{
						"name": "CreatedDate",
						"type": "Date"
					},
					{
						"name": "UpdatedDate",
						"type": "Date"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[Addresses]')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/southridge_streaming')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/streaming_customers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "southridge_streaming",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "CustomerID",
						"type": "Guid"
					},
					{
						"name": "LastName",
						"type": "String"
					},
					{
						"name": "FirstName",
						"type": "String"
					},
					{
						"name": "PhoneNumber",
						"type": "String"
					},
					{
						"name": "CreatedDate",
						"type": "Date"
					},
					{
						"name": "UpdatedDate",
						"type": "Date"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[Customers]')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/southridge_streaming')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/streaming_transaction')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "southridge_streaming",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "TransactionID",
						"type": "Guid"
					},
					{
						"name": "CustomerID",
						"type": "Guid"
					},
					{
						"name": "MovieID",
						"type": "Guid"
					},
					{
						"name": "StreamStart",
						"type": "DateTime"
					},
					{
						"name": "StreamEnd",
						"type": "DateTime"
					},
					{
						"name": "CreatedDate",
						"type": "Date"
					},
					{
						"name": "UpdatedDate",
						"type": "Date"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[Transactions]')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/southridge_streaming')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VanderSQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('VanderSQL_connectionString')]"
				},
				"connectVia": {
					"referenceName": "VanderSelfHostedIRV2",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/VanderSelfHostedIRV2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/linkedsvc_cosmosdb_movies')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDb",
				"typeProperties": {
					"connectionString": "[parameters('linkedsvc_cosmosdb_movies_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linkedsvc_datalake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('linkedsvc_datalake_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/southridge_linked_svc')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('southridge_linked_svc_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/southridge_streaming')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('southridge_streaming_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VanderSelfHostedIRV2')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "Version2 of SelfHostedIR",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}